<?xml version="1.0"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="OdataAdaptable">
      <directory>test/**</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <file>test/OdataAdaptable/AdaptTest.php</file>
	  <file>src/OdataAdaptable.php</file>
	  <file>src/OdataBuilder.php</file>
	</whitelist>
  </filter>
</phpunit>
